<div class="container">
    <div class="upperdata">

        <!-- Card background -->
        <img src="../assets/dayweather.png" alt="dayimg">  <!--apply if statement for degrees-->
        <img src="../assets/Nightweather.jpg" alt="nightimg">  <!--apply if statement for degrees-->

        <!-- Card info --> 
            <div class="weatherdata">
                <div class="location">Milan</div>
                <div class="temperature">14°C</div>
            </div>
    </div>
    <div class="lowerdata">
        <div class="moreinfo-label">
            More Information
        </div>
        <div class="moreinfo-container">
            
            <!-- Max temperature -->
            <div class="infobox">
                <div class="infobox-label">
                    <img src="../assets/maxtemp.png" alt="LowTemp">
                    <span>Max</span>
                </div>
                <div class="infobox-value">
                    20°C
                </div>
            </div>

            <!-- Min temperature -->
            <div class="infobox">
                <div class="infobox-label">
                    <img src="../assets/lowtemp.png" alt="LowTemp">
                    <span>Min</span>
                </div>
                <div class="infobox-value">
                    10°C
                </div>
            </div>

            <!-- Humidity -->
            <div class="infobox">
                <div class="infobox-label">
                    <img src="../assets/humidity.png" alt="LowTemp">
                    <span>Humidity</span>
                </div>
                <div class="infobox-value">
                    77%
                </div>
            </div>

            <!-- wind speed -->
            <div class="infobox">
                <div class="infobox-label">
                    <img src="../assets/wind.png" alt="LowTemp">
                    <span>Wind</span>
                </div>
                <div class="infobox-value">
                    11 km/h
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>